<!-- <div class="grid" *ngFor="let character of listCharacters">
    <div class="card">
        <p-card header={{character.name}} subheader={{character.species}} [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="character.image" />
            </ng-template>
            <p>
                {{character.location.name}}
            </p>
        </p-card>
    </div>
</div> -->

<div class="container">
    <div class="item" *ngFor="let character of listCharacters">
            <p-card header={{character.name}} subheader={{character.species}} [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]="character.image" />
                </ng-template>
                <p>
                    {{character.location.name}}
                </p>
            </p-card>
    </div>
</div>
